.container {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 25px;
}

.description {
    margin-bottom: 20px;
    font-weight: 600;
}

.text {
    margin-bottom: 20px;
    line-height: 1.4;
}

.linksContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 25px;
    column-gap: 20px; 
}

.link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: var(--text);
    transition: all 0.3s ease-in-out;
}

.link:hover {
    color: var(--color-secondary);
}

.icon {
    margin-right: 8px;
    font-size: 24px;
    color: inherit;
}

.image {
    margin-left: 30px;
    width: 350px;
    border: 1px solid lightgray;
    border-radius: 7px;
    object-fit: contain;
}