.navbar {
    top: 0;
    left: 0;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-bottom: 60px;
    background-color: #f8f8f8;
    z-index: 1000;
}

.navbarContainer {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 1300px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

.logo {
    padding: 0;
    margin-right: 35px;
    font-weight: 400;
    font-size: 28px;
    background-image: linear-gradient(0deg, var(--logo-color1), var(--logo-color2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 0;
}

.item:not(:last-child) {
    margin-right: 2px;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 0 15px;
    background-color: none;
    color: gray;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}

.link.active {
    background-color: rgb(233, 233, 233);
    text-decoration: none;
}

