.navbar {
    top: 0;
    left: 0;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    margin-bottom: 10px;
    background-color: var(--background);
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    z-index: 500;
}

.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

@media screen and (min-width: 768px) {
    .navbarContainer {
        max-width: 1000px;
        width: 100%;
    }
}

.menuContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.logo {
    display: block;
    min-width: 150px;
    margin-right: 20px;
    font-weight: 500;
    font-size: 24px;
    color: var(--text);
    text-decoration: none;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 0;
}

.menu .item:not(:last-child) {
    margin-right: 10px;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    border-radius: 18px;
    padding: 0 18px;
    background-color: none;
    color: var(--text);
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}

.link:hover, .link:active {
    background-color: var(--color-transparent);
    color: var(--text);
    transform: scale(1.1);
}

.link.active {
    background-color: var(--color-secondary);
    color: var(--background);
}

.media {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
}

.icon {
    font-size: 25px;
    color: var(--text);
    transition: all 0.3s ease-in-out;
}

.icon:hover, .icon:active {
    color: var(--color-secondary);
}

.menuButton {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .media {
        display: none;
    }

    .menuContainer {
        justify-content: flex-end;
    }
}

@media screen and (max-width: 600px) {
    .menuContainer {
        display: none;
    }

    .menuButton {
        display: block;
    }
}

.mobileMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.mobileMenuList {
    padding: 0;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobileMenuList .item {
    margin-bottom: 20px;
}

.mobileMedia {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.closeButton {
    position: absolute;
    top: 30px;
    right: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

.closeIcon {
    font-size: 25px;
    color: var(--text);
    transition: all 0.3s ease-in-out;
}

.closeIcon:hover, .closeIcon:active {
    color: var(--color-secondary);
}