.navbar {
    top: 0;
    left: 0;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    margin-bottom: 20px;
    background-color: var(--background);
    box-shadow: 2px 2px 2px rgb(241, 241, 241);
    z-index: 1000;
}

.navbarContainer {
    display: flex;
    justify-content: left;
    align-items: baseline;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

.logo {
    margin-right: 60px;
    font-weight: 200;
    font-size: 24px;
    color: var(--text);
    text-decoration: none;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 0;
}

.item:not(:last-child) {
    margin-right: 10px;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    border-radius: 18px;
    padding: 0 18px;
    background-color: none;
    color: var(--text);
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}

.link:hover, .link:active {
    background-color: var(--color-transparent);
    color: var(--text);
    transform: scale(1.1);
}

.link.active {
    background-color: var(--color-secondary);
    color: var(--background);
}

