/* @import url('../fonts/fonts.css'); */
@import url('./normalize.css');

:root {
  --color-primary: #000000;
  --color-secondary: #f0cb87;
  --color-transparent: rgba(240, 203, 135, 0.2);
  --background:  #ffffff;
  --text: #4e4e4e;
}

body {
	background-color: var(--background);
	color: var(--text);
}