.flexContainer {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 850px) {
    .flexContainer {
        flex-direction: row;
        justify-content: space-between;
    }
}

.contacts {
    min-width: 180px;
    margin-right: 35px;
    margin-bottom: 25px;
}

.listItem {
    margin-bottom: 20px;
    color: var(--text);
    transition: all 0.3s ease-in-out;
}

.listItem:hover {
    color: var(--color-secondary);
}

.link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: inherit;
}

.icon {
    margin-right: 10px;
    font-size: 24px;
    color: inherit;
}

.formContainer {
    width: 100%;
    max-width: 650px;
    margin-bottom: 35px;
    
}

.formTitle {
    margin-bottom: 15px;
    font-weight: 600;
}

.label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; 
}

.label input {
    height: 36px;
    padding: 7px 10px;
    border: 1px solid #979797; 
    border-radius: 7px;
    font-size: 14px;
}

.label textarea {
    min-height: 100px;
    padding: 7px 10px;
    border: 1px solid #979797; 
    border-radius: 7px;
    font-size: 14px;
    resize: vertical;
}